@import "tailwindcss";

@theme inline {
  --color-primary: #014aaa;
  --color-primary-200: #AAC0E1;
  --font-sans: var(--font-pt-sans), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

